.animate {
    position: relative;
    animation: infiniteScroll;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: infinite;

    .double {
        position: absolute;
        top: 0;
        left: 100%;
        margin-left: 10rem;
    }
}


@keyframes infiniteScroll {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(calc((100% + 10rem) * -1));
    }
}