@use "./MediaModal.scss";
@import "../../_base";

/*** FORMATTING **************************/

.MediaScroller {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    .window {
        min-height: 35rem;
        padding: 3rem;
        overflow: hidden;

        & > * {
            overflow: visible;
        }

        .media-item {
            max-width: 36rem;
            user-select: none;
        }

        --swiper-pagination-color: white;
        --swiper-pagination-bottom: -2rem;
    }
}

/*** TYPOGRAPHY **************************/

.MediaScroller {
}

/*** DECORATION **************************/

.MediaScroller {
    .window {
        background: hsla(var(--clr-shdw));
        border-radius: 0.8rem;
        box-shadow: inset 0 0.4rem 0.2rem rgba($color-black-500, 0.05),
            inset 0 0.4rem 0.4rem rgba($color-black-500, 0.1);
    }
}

[data-rmiz-modal-overlay="hidden"] {
    background-color: rgba(0, 0, 0, 0);
}
[data-rmiz-modal-overlay="visible"] {
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(0.5rem);
}
[data-rmiz-content="found"] img,
[data-rmiz-content="found"] svg,
[data-rmiz-content="found"] [role="img"],
[data-rmiz-content="found"] [data-zoom] {
    cursor: pointer;
}
[data-rmiz-modal-img] {
    cursor: pointer;
}
[data-rmiz-btn-unzoom] {
    background-color: rgba(255, 255, 2555, 0.25);
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    color: #fff;
    height: 40px;
    margin: 0;
    outline-offset: 2px;
    padding: 9px;
    touch-action: manipulation;
    width: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
