@import "../../_base";

/*** FORMATTING **************************/

.MediaPlayer {
    // min-width: 70rem;
    // max-width: 100%;
    height: 100%;
    min-height: 35rem;
    width: 100%;
    position: relative;

    .player {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        iframe {
            height: 100%;
            width: 100%;
        }
    }
}

/*** TYPOGRAPHY **************************/

.MediaPlayer {
}

/*** DECORATION **************************/

.MediaPlayer {
    border-radius: 0.8rem;
    overflow: hidden;
    box-shadow: 0 0.5rem 1.5rem 0.1rem hsla(var(--clr-drk), 0.4);

    .player {
        background-color: hsl(var(--clr-drk));

        &:not(:has(iframe.loaded)) {
            animation: pulse 2s infinite ease-in;
            * {
                opacity: 0;
            }
        }

        iframe {
            transition: all $speed-slower;
            opacity: 0;

            &.loaded {
                opacity: 1;
            }
        }
    }
}
