@import "../../_base";

/*** FORMATTING **************************/

.MediaZoomItem {
    height: 100%;
    width: 100%;

    .MediaZoomItem__item {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            margin: auto;
            height: 100%;
            width: auto;
            object-fit: cover;
        }

        &:has(.error) {
            height: 30rem;

            .error {
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
                gap: 2rem;
            }
        }
    }
}

/*** TYPOGRAPHY **************************/

.MediaZoomItem {
    color: hsl(var(--clr));

    .MediaZoomItem__item p {
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
    }
}

/*** DECORATION **************************/
.MediaZoomItem {
    border-radius: 0.8rem;

    .MediaZoomItem__item {
        overflow: hidden;
        border-radius: inherit;
        box-sizing: content-box;
        // outline: .5rem solid transparent;
        background-color: hsla(var(--clr-drk), 0.5);
        box-shadow: 0 0.5rem 1.5rem 0.1rem hsla(var(--clr-drk), 0.4);

        transition: transform $speed-medium ease-out,
            box-shadow $speed-medium ease-out;

        * {
            transition: opacity 3s ease-out;
        }
    }

    &.loading {
        .MediaZoomItem__item {
            animation: pulse 2s infinite ease-in;

            * {
                opacity: 0;
            }
        }
    }
}

/*** DECORATION ***/
[data-rmiz-modal-overlay="hidden"] {
    background-color: rgba(0, 0, 0, 0);
}
[data-rmiz-modal-overlay="visible"] {
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(0.5rem);
}
[data-rmiz-content="found"] img,
[data-rmiz-content="found"] svg,
[data-rmiz-content="found"] [role="img"],
[data-rmiz-content="found"] [data-zoom] {
    cursor: pointer;
}
[data-rmiz-modal-img] {
    cursor: pointer;
    border-radius: 0.8rem;
}
[data-rmiz-btn-unzoom] {
    background-color: rgba(255, 255, 2555, 0.25);
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    color: #fff;
    height: 40px;
    margin: 0;
    outline-offset: 2px;
    padding: 9px;
    touch-action: manipulation;
    width: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
