@use "./MediaModal.scss";
@import "../../_base";

/*** FORMATTING **************************/

.MediaScroller {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    .window {
        height: fit-content;
        min-height: 30rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        overflow: hidden;

        width: auto;

        .media {
            scroll-snap-type: x mandatory;
            overflow: hidden;
            overflow-x: scroll;
            height: 50rem;
            margin-bottom: -0.5rem; // same as the height of horizontal scrollbar
            min-height: 100%;
            min-width: 100%;
            display: flex;
            flex-direction: row;
            align-items: stretch;
            padding: 2rem;
            scroll-padding: 2rem;
            gap: 2rem;

            .MediaItem {
                scroll-snap-align: start;

                img {
                    max-width: none;
                }
            }

            .spacer {
                height: 100%;
                width: 100%;
            }
        }
    }

    .controller {
        margin: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .controller__selector {
            height: 1rem;
            width: 1rem;
        }
    }
}

/*** TYPOGRAPHY **************************/

.MediaScroller {
}

/*** DECORATION **************************/

.MediaScroller {
    .window {
        background: hsla(var(--clr-shdw));
        border-radius: 0.8rem;
        box-shadow: inset 0 0.4rem 0.2rem rgba($color-black-500, 0.05),
            inset 0 0.4rem 0.4rem rgba($color-black-500, 0.1);

        .MediaItem.MediaPlayer {
            // transition: all 0s, // important for changing item positions on window resize
        }

        .MediaItem:hover {
            transform: none;
        }
    }

    .controller .controller__selector {
        transition: all $speed-fast;
        border-radius: 50%;
        border: 0.2rem solid hsl(var(--clr-shdw));

        &:hover {
            border: 0.2rem solid hsl(var(--clr-drk));
        }

        &.active {
            background-color: hsl(var(--clr-drk));
        }
    }
}
