@import "../../_base";

.MediaModal {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;

    img {
        max-width: 90vw;
        max-height: 90vh;
    }
}

.MediaModal {
}

.MediaModal {
}
