@keyframes fadeRightSwipe {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeLeftSwipe {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeDownSwipe {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeInGrow {
  0% {
    position: relative;
    transform: translateX(2rem);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes swipeRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes swipeRightReverse {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
/*** FORMATTING **************************/
.MediaZoomItem {
  height: 100%;
  width: 100%;
}
.MediaZoomItem .MediaZoomItem__item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.MediaZoomItem .MediaZoomItem__item:has(img) img {
  min-width: var(--width);
  margin: auto;
  height: 100%;
  width: auto;
  object-fit: cover;
}
.MediaZoomItem .MediaZoomItem__item:has(img).error img {
  display: none;
}
.MediaZoomItem .MediaZoomItem__item:has(img).error::after {
  content: "could not load image";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*** TYPOGRAPHY **************************/
.MediaZoomItem .MediaZoomItem__item:has(img) {
  font-size: 2rem;
  font-weight: 500;
  color: hsl(var(--clr));
  text-align: center;
}

/*** DECORATION **************************/
.MediaZoomItem {
  border-radius: 0.8rem;
}
.MediaZoomItem .MediaZoomItem__item {
  position: relative;
  overflow: hidden;
  border-radius: inherit;
  box-sizing: content-box;
  background-color: hsla(var(--clr-drk), 0.5);
  box-shadow: 0 0.5rem 1.5rem 0.1rem hsla(var(--clr-drk), 0.4);
  filter: brightness(0.9);
  transition: filter 150ms ease-out, transform 200ms ease-out, box-shadow 200ms ease-out;
}
.MediaZoomItem .MediaZoomItem__item.active {
  filter: brightness(1);
}
.MediaZoomItem .MediaZoomItem__item:has(img).error img {
  display: none;
}
.MediaZoomItem .MediaZoomItem__item:has(img).error::after {
  content: "could not load image";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.MediaZoomItem .MediaZoomItem__item * {
  transition: opacity 3s ease-out;
}
.MediaZoomItem.loading .MediaZoomItem__item {
  animation: pulse 2s infinite ease-in;
}
.MediaZoomItem.loading .MediaZoomItem__item * {
  opacity: 0;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.35;
  }
}
/*** DECORATION ***/
[data-rmiz-modal-overlay=hidden] {
  background-color: rgba(0, 0, 0, 0);
}

[data-rmiz-modal-overlay=visible] {
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(0.5rem);
}

[data-rmiz-content=found] img,
[data-rmiz-content=found] svg,
[data-rmiz-content=found] [role=img],
[data-rmiz-content=found] [data-zoom] {
  cursor: pointer;
}

[data-rmiz-modal-img] {
  cursor: pointer;
}

[data-rmiz-btn-unzoom] {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  color: #fff;
  height: 40px;
  margin: 0;
  outline-offset: 2px;
  padding: 9px;
  touch-action: manipulation;
  width: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
