@keyframes fadeRightSwipe {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeLeftSwipe {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeDownSwipe {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeInGrow {
  0% {
    position: relative;
    transform: translateX(2rem);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes swipeRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes swipeRightReverse {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
/*** FORMATTING **************************/
.VersionBrowser {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
.VersionBrowser .versionSelector {
  display: flex;
  align-items: center;
}
.VersionBrowser .versionSelector .versionOptions {
  overflow: hidden;
  margin-left: 2rem;
  margin-right: 4rem;
}
.VersionBrowser .versionSelector .versionOptions .scroller {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 2rem;
}
.VersionBrowser .versionSelector .versionBar {
  flex: 1;
  display: flex;
  align-items: center;
  height: 2rem;
  margin-bottom: auto;
}
.VersionBrowser .versionSelector .dropDownButton {
  margin-bottom: auto;
}

/*** TYPOGRAPHY **************************/
.VersionBrowser .versionOptions .versionOptions__option {
  text-decoration: none;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2rem;
  color: hsla(var(--clr-shdw));
}
.VersionBrowser .versionOptions .versionOptions__option.active {
  color: hsl(var(--clr-drk));
}
.VersionBrowser .dropDownButton {
  user-select: none;
}

/*** DECORATION **************************/
.VersionBrowser .versionBar {
  position: relative;
}
.VersionBrowser .versionBar::before {
  content: "";
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: hsl(var(--clr-drk));
}
.VersionBrowser .versionBar::after {
  content: "";
  height: 0.2rem;
  width: 100%;
  background: linear-gradient(to right, hsl(var(--clr-drk)), transparent);
}
.VersionBrowser .versionSelector .versionOptions {
  transition: all 200ms;
}
.VersionBrowser .versionSelector .versionOptions .scroller {
  transition: all 200ms;
}
.VersionBrowser .versionSelector .dropDownButton {
  width: 2rem;
  height: 2rem;
  color: hsla(var(--clr-shdw));
  font-size: 2rem;
  font-weight: 600;
  transform: rotate(-90deg);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 0.2rem solid hsla(var(--clr-shdw));
  transition: all 200ms ease;
  cursor: pointer;
}
.VersionBrowser .versionSelector .dropDownButton:hover, .VersionBrowser .versionSelector .dropDownButton.active {
  border: 0.2rem solid hsl(var(--clr-drk));
  color: hsl(var(--clr-drk));
}
.VersionBrowser .versionSelector .dropDownButton.rotate {
  transform: rotate(-270deg);
}

@media (max-width: 37.5em) {
  .VersionBrowser {
    margin-bottom: 10rem;
  }
}
