@use './_Subsection';
@import '../../_base';

/*** FORMATTING **************************/

.section {
    display: flex;
    flex-direction: column;
    gap: 6rem;

    .section__subsections {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 6rem 4rem;
    }
}

/*** TYPOGRAPHY **************************/

.section {
    .section__title {
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 3.2rem;
    }
}

/*** DECORATION **************************/

.section {
    
}