@import '../../base';
@import '../../animations';

/*** FORMATTING **************************/

.ContactPage {
    animation: fadeIn $speed-slower;
    height: 100vh;

    .VerticalLabeledSection {
        padding: 0;
    }
}

/*** TYPOGRAPHY **************************/

.ContactPage {
    
}

/*** DECORATION **************************/

.ContactPage {
    
}