@keyframes fadeRightSwipe {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeLeftSwipe {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeDownSwipe {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeInGrow {
  0% {
    position: relative;
    transform: translateX(2rem);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes swipeRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes swipeRightReverse {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
/*** FORMATTING **************************/
.ProjectCard {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
}
.ProjectCard__background {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.ProjectCard__background__image {
  height: 100%;
  max-width: none;
}
.ProjectCard .details .details__summary span {
  max-height: 10rem;
}

/*** TYPOGRAPHY **************************/
.ProjectCard .details .details__summary span {
  text-overflow: ellipsis;
}

/*** DECORATION **************************/
.ProjectCard {
  animation: fadeIn 0.5s ease-out;
  animation-delay: var(--dly);
  animation-fill-mode: backwards;
  transition: all 200ms;
  border-radius: 0.5rem;
}
.ProjectCard .ProjectCard__background {
  transition: all 200ms, filter 1s ease-out;
  opacity: 1;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)), linear-gradient(to top left, hsl(var(--clr-drk)), hsl(var(--clr-drk)));
}
.ProjectCard .ProjectCard__background__image {
  mix-blend-mode: overlay;
  transition: all 2s cubic-bezier(0.785, 0.135, 0.15, 0.86), transform 4s cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 0;
  filter: blur(0.2rem);
}
.ProjectCard .ProjectCard__background__image.show {
  opacity: 0.2;
}
.ProjectCard:hover .ProjectCard__background {
  opacity: 1;
  filter: brightness(0.8);
}
.ProjectCard:hover .ProjectCard__background__image {
  filter: blur(0.4rem);
  transform: scale(1.2);
}

/*** ProjectSummaryBlock Overrides ************************/
.ProjectCard .ProjectSummaryBlock .details__heading > *,
.ProjectCard .ProjectSummaryBlock .details__summary,
.ProjectCard .ProjectSummaryBlock .actions {
  padding: 0 2rem;
}
.ProjectCard .ProjectSummaryBlock .details__heading > *:first-child {
  padding: 2rem;
}
.ProjectCard .ProjectSummaryBlock .actions {
  padding-bottom: 2rem;
}
.ProjectCard .ProjectSummaryBlock {
  display: flex;
}
.ProjectCard .ProjectSummaryBlock.noArrowIcon .arrowIcon {
  display: none;
}
.ProjectCard .ProjectSummaryBlock .details {
  z-index: 1;
}
.ProjectCard .ProjectSummaryBlock .Button {
  background-color: rgba(255, 255, 255, 0.75);
  color: hsl(var(--clr-drk));
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
}
.ProjectCard .ProjectSummaryBlock .Button:hover {
  background-color: white;
}
.ProjectCard .ProjectSummaryBlock .Button.outlined {
  background-color: rgba(255, 255, 255, 0);
  border: 0.2rem solid rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 0.75);
}
.ProjectCard .ProjectSummaryBlock .Button.outlined:hover {
  background-color: white;
  border: 0.2rem solid white;
  color: hsl(var(--clr-drk));
}
.ProjectCard .ProjectSummaryBlock .details__summary span,
.ProjectCard .ProjectSummaryBlock .details__heading__title span {
  color: #ffffff;
}
.ProjectCard .ProjectSummaryBlock .details__heading__tags {
  width: 100%;
  transition: all 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transform: translateY(-100%);
  opacity: 0;
}
.ProjectCard .ProjectSummaryBlock .details__heading__tags__tag, .ProjectCard .ProjectSummaryBlock .details__heading__tags__more {
  color: hsl(var(--clr-drk));
}
.ProjectCard .ProjectSummaryBlock .details__heading__tags::after {
  content: "";
  z-index: -1;
  transition: transform 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 1rem 2rem hsla(var(--clr-shdw));
  mix-blend-mode: multiply;
}
.ProjectCard:hover .ProjectSummaryBlock .details__heading__tags, .ProjectCard.showTags .ProjectSummaryBlock .details__heading__tags {
  transform: translateY(0);
  opacity: 1;
}
.ProjectCard:hover .ProjectSummaryBlock .details__heading__tags::after, .ProjectCard.showTags .ProjectSummaryBlock .details__heading__tags::after {
  transform: translateY(0);
}
