@use './_VerticalLabeledSection';

@import '../../responsive';

.VerticalLabeledSection {
    .wrapper {
        @include respond(tablet-vert) {
            .sideLabel {
                .sideLabel__text {
                    line-height: auto;
                }
            }
    
            .content {
                padding-left: 0;
                padding-right: 1rem;
            }
        }

        @include respond(mobile) {
            .sideLabel {
                .sideLabel__text {
                    font-size: 6rem;
                    line-height: normal;
                }
            }

            .content {
                z-index: 1;
                .content__heading,
                .content__info {
                    padding: 2.5rem 2rem 1.5rem;
                }
            }
        }
    }
}